[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "host_src/greaseweazle"]
	path = host_src/greaseweazle
	url = https://github.com/keirf/greaseweazle.git
